<h1>New Book</h1>
<% if current_user %>

  Hi,<%= current_user.name %> ! Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %><br>
  <%= link_to "Home", root_url %><br><br>
<%else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %><br><br>
<% end %>
<%= render 'form', book: @book %>

<%= link_to 'Back', books_path %>
