<h1>Editing Librarian</h1>
<% if current_user %>

  Hi,<%= current_user.name %> ! Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %><br>
  <%= link_to "Home", root_url %><br><br>
<%else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %><br><br>
<% end %>
<%= render 'form', librarian: @librarian %>

<%= link_to 'Show', @librarian %> |
<%= link_to 'Back', librarians_path %>
