<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% current_user==nil %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :education_level %>
    <%= form.select :education_level, %w(undergraduate master phd) %>
  </div>

  <div class="field">
    <%= form.select :role, %w(student librarian)%>
  </div>
  <div class="field">
    <%= form.select :university, %w(NCSU UNC DUKE)%>
  </div>
  <td>Once select to be librarian, select any universtiy does not matter since it won't limit librarian choosing place to work</td>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
