<p id="notice"><%= notice %></p>

<h1>User Control</h1>
<% if current_user %>

  Hi,<%= current_user.name %> ! Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %><br>
  <%= link_to "Home", root_url %><br><br>
<% else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %><br><br>
<% end %>
<table>

  <% if current_user.role == 'admin' || current_user.role == 'librarian' %>
    <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>degree</th>
      <th>Overdue Fine</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <% if current_user.role == 'admin' %>
    <%= link_to 'New User', new_user_path %>
      Librarian created by admin do not need approve.<br>
      <%end %>
    <tbody>
    <% n = 0 %>
    <% @userlist.each do |user| %>
      <% if current_user.role == 'admin' %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= user.education_level %></td>
          <td><%= user.fine %></td>
          <td><%= user.role %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <% if user.role != 'admin' %>
          <td><%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            <%end %>
        </tr>

      <% else %>


        <% if user.fine > 0 %>
          <% @bh = BookHistory.find_by_sql('select * from book_histories where is_returned=false and student_email =' + current_user.email) %>
          <% @bh.each do |bh| %>
            <% if current_user.library == Book.find_by_isbn(bh.book_isbn).library %>
              <% n = n + 1 %>
              <tr>
                <td><%= user.email %></td>
                <td><%= user.name %></td>
                <td><%= user.education_level %></td>
                <td><%= user.fine %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        <% if n == 0 %>
          <td><%= link_to 'Show My Profile', current_user %></td>
          <td><%= link_to 'Edit My Profile', edit_user_path(current_user) %></td>
          No overdue student<br>
          <% n+=1%>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  <% else %>

    <h2>Hi, <%= current_user.name %></h2>
    <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>degree</th>
      <th>Overdue Fine</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= current_user.email %></td>
      <td><%= current_user.name %></td>
      <td><%= current_user.education_level %></td>
      <td><%= current_user.fine %></td>
    </tr>
    </tbody>
    <td><%= link_to 'Show My Profile', current_user %></td>
    <td><%= link_to 'Edit My Profile', edit_user_path(current_user) %></td>
  <% end %>
</table>

<br>

