<h1>New Users</h1>
<% if current_user %>

  Hi,<%= current_user.name %> ! Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %><br>
  <%= link_to "Home", root_url %><br><br>
<%else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %><br><br>
<% end %>

<%= link_to "New Students", signup_student_path %> or
<%= link_to "New Librarian", signup_librarian_path %>


<%= link_to 'Back', users_path %>
