<p id="notice"><%= notice %></p>
<% if current_user %>

  Hi,<%= current_user.name %> ! Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %><br>
  <%= link_to "Home", root_url %><br><br>
<%else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %><br><br>
<% end %>
<p>
  <strong>Email:</strong>
  <%= @user.email %><br>
  <strong>Name:</strong>
  <%= @user.name %><br>
  <strong>Fine:</strong>
  <%= @user.fine %><br>
  <strong>Role:</strong>
  <%= @user.role %><br>
  <%if @user.role=='student' %>
  <strong>University:</strong><br>
  <%= @user.university %>
    <%end %>
  <%if @user.role=='librarian' %>
    <strong>Library:</strong>
    <%= @user.library %><br>
  <%end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
