<p id="notice"><%= notice %></p>
<h1>Show Requests</h1>
<tr>
  <% if current_user %>

    Hi,<%= current_user.name %> ! Logged in as <%= current_user.email %>.
    <%= link_to "Log Out", logout_path %><br>
    <%= link_to "Home", root_url %><br><br>
  <%else %>
    <%= link_to "Sign Up", signup_path %> or
    <%= link_to "Log In", login_path %><br><br>
  <% end %>
<td><%=@book_request.book_title %></td>
<td><%=@book_request.book_isbn %></td>
<td><%=@book_request.student_name %></td>
<td><%=@book_request.student_email %></td>
  <td><%=@book_request.library %></td>
</tr>
<%= link_to 'Back', book_requests_path %>
